#home-container {
    height: 100%;
}

#no-topic-message {
    padding-top: 22rem;
    clear: both;
}

#no-topic-message > .header {
    color: white;
}

#new-topic-button{
    float:right;
    margin-top: 1px;
    margin-bottom: 2em;
    margin-right: 0;
}
