node_modules
.idea

.git

docker/
!docker/concordia-contracts/migrate.sh

packages/*/node_modules
packages/*/dist
packages/*/coverage
# TO-NEVER-DO: exclude the build *folder* from contracts package, it's needed for building the app the JSON contract
# artifacts can be ignored
packages/concordia-contracts/build/*
packages/concordia-app/build

Jenkinsfile
