.post-summary-meta-index {
    float: right;
    font-size: 12px;
    opacity: 0.4;
}

.like:hover .icon {
    color: #fff !important;
}

#post-button {
    float: right;
}

#post-button button {
    margin: 0;
}
