/* PAGE */

html, body {
  margin: 0;
  display: block;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

strong {
  font-weight: bold !important;
}

.App {
  width: 100%;
  margin: 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.view-container {
  width: 60%;
  margin: 10px auto;
}

/* LOADING SCREEN */

.loading-screen {
  opacity: 1;
  visibility: visible;
  transition: all .25s ease-in-out;
}

.loading-screen.loaded {
  opacity: 0;
  visibility: hidden;
}

/* HEADER BAR */

.header-bar {
  max-height: 100px;
  max-width: 100%;
  padding: 7px 0px;
  background: #0c1a2b;
  color: white;
  align-self: center;
  text-align: center;
}

.logo {
  height: 100%;
}

.header-bar-text {
  height: 100%;
  margin-left: 8px;
}

.header-bar-text div {
  height: 100%;
  display: table;
}

.header-bar-text div>div {
  display: table-cell;
  vertical-align: middle;
}

/* NAVBAR */

.navColor {
  background: #0c1a2b;
}

.stick {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}

/* TOPICS */

.topic {
  width: 100%;
  margin: 18px 0px;
}

.topic-subject {
  margin: 0px 0px 5px;
}

.topic-meta {
  margin: 5px 0px 0px;
}

.topic-date {
  margin-bottom: 0px;
  font-size: 0.82vw !important;
  text-align: right;
}

/* START TOPIC */

.topic-form {
  width: 100%;
  margin: 20px 0px;
}

.topic-form input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
}

.topic-form textarea {
  min-height: 200px;
}

.form-input-required {
  border-color: red !important;
}

.markdownPreview {
  padding: 0px 20px;
}

/* POSTS */

.post {
  width: 100%;
  background-color: #FFFFFF;
  margin: 20px 0px;
  padding: 0px;
}

.post-meta {
  float: right;
  margin-right: 11.25px;
}

.user-avatar {
  width: 52px;
  height: 52px;
  text-align: center;
}

.stretch-space-between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.user-info {
  background-color: #FFFFFF;
  margin: 12px auto;
  padding: 7px;
}

/* PROFILE */

.profile-tab {
  width: 100%;
}

/* MISC */

.inline {
  display: inline-block;
}

.no-margin {
  margin: 0px;
}

.margin-left-small {
  margin-left: 7px;
}

hr {
  color: #0c1a2b;
  margin: 0px;
}

*:focus {outline:none !important}

.centerDiv {
  margin: 0 auto;
}

a {
  color:inherit;
  text-decoration: none;
}

.post-content a{
  color: #039be5;
}

.center-in-parent {
  width: 100%;
  height: 100%;
  text-align: center;
}

.vertical-center-children {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

#overlay-content{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.full-width {
  max-width: 100% !important;
  width: 100% !important;
}

.vis { /* For UX developing */
  border: 1px solid red;
}