/* LOADING SCREEN */

.loading-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 1;
  visibility: visible;
  transition: all .25s ease-in-out;
}

.loading-screen.loaded {
  opacity: 0;
  visibility: hidden;
}