/* POSTS LIST SCREEN */

.posts-list-spacer {
  margin-bottom: 85px;
  height: 0px;
}

.post {
  width: 100%;
  background-color: #FFFFFF;
  margin: 20px 0px;
  padding: 0px;
}

.post-meta {
  float: right;
  margin-right: 11.25px;
}

.user-avatar {
  width: 52px;
  height: 52px;
  text-align: center;
}

.user-avatar a {
  color: inherit !important;
  text-decoration: none !important;
}

.stretch-space-between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.user-info {
  background-color: #FFFFFF;
  margin: 12px auto;
  padding: 7px;
}

.post-content a{
  margin-top: 10px;
  color: #039be5;
}

.post-form {
  width: 100%;
  margin: 20px 0px;
}