.topic-row {
    display: flex !important;
    text-align: start;
    cursor: pointer;
}

.topic-row-segment {
    flex-grow: 1;
}

.topic-row-segment:hover {
   background-color: #F7F7F7;
}

.topic-row-segment div {
    color: black;
}

.topic-row-segment .placeholder{
    font-size: 0.9rem;
}

.topic-row-segment .placeholder>.line {
    background-color:transparent;
}

.topic-row-avatar {
    margin: auto;
    padding-left: 0.75em !important;
    padding-right: 0 !important;
    font-size: 2rem;
}

.topic-row-avatar i {
    text-align: left !important;
    margin:0;
}

.topic-row-content {
    padding-left: 2rem !important;
}

.topic-row-subject {
    font-size: 1.4rem;
    font-weight: bold;
}

.topic-row-metadata {
    font-size: 0.9em !important;
}

.profile-picture {
    border-radius: 50%;
    max-width: none !important;
    width: 2em;
    height: 2em;
}

.replies-placeholder{
    float:right;
    width: 6rem;
}
