#topic-container {
    height: 100%;
}

#topic-header {
    padding: 1rem 0;
}

#topic-grid {
    height: 100%;
}

#topic-metadata {
    font-size: 0.8em;
    color: rgba(0,0,0,.6);
}

#author-placeholder {
    width: 150px !important;
}

#subject-placeholder {
    width: 250px !important;
    margin:auto;
}

#date-placeholder {
    width: 150px !important;
    margin: 0 auto;
}
