body.app {
    overflow: auto;
    margin: 0;
}

#root {
    height: 100%;
}

.i18next-newlines {
    white-space: pre-line !important;
}

.text-secondary {
    color: gray;
    font-style: italic;
}

.ui.inverted.menu {
    background: #0B2540;
    border-radius: 0;
}
