.post-list-row {
    padding: 1.2rem 0.1rem 1.2rem 0.6rem !important;
}

.post-profile-picture {
    margin-top: 0.9rem;
}

.post-content {
    margin-left: 1.3rem !important;
}

.post-content > div.summary {
    font-size: 1rem !important;
}

.post-content > div.extra {
    padding-right: 1rem !important;
}

.post-content .placeholder {
    margin: 0.5rem 0 0;
    font-size: 2rem !important;
}

.post-content .placeholder > .line{
    height: auto;
}

.post-summary-meta-index {
    float: right;
    width: 3rem;
    text-align: right;
    font-size: 0.75rem !important;
    opacity: 0.4;
}

.post-voting {
    float: left;
    margin-top: 1.2rem;
}

.post-voting > button{
    margin: 0 !important;
}

.post-voting > span{
    vertical-align: middle;
}
