.post-profile-picture {
    margin-top: 1rem;
}

.post-profile-picture img {
    border-radius: 50%;
    width: 2em !important;
    height: 2em !important;
    margin: 0 !important;
}

.post-content {
    margin-left: 0.5rem !important;
}

.post-summary-meta-index {
    float: right;
    font-size: 12px;
    opacity: 0.4;
}
