# Docker compose variables
VIRTUAL_HOST=example.com
VIRTUAL_PORT=3000

# If you uncomment the lines below, Apella will become available through https BUT the rendezvous
# server will stop working and IPFS initialization won't complete
#LETSENCRYPT_HOST=example.com
#LETSENCRYPT_EMAIL=someemail.email.com

# Variables needed in build time
# to_never_do: change APELLA_HOST to localhost
APELLA_HOST=0.0.0.0
APELLA_PORT=3000
GANACHE_HOST=xx.xxx.xxx.xxx
GANACHE_PORT=8545

# react-scripts host and port vars
HOST=0.0.0.0
PORT=3000

# Variables needed in runtime (in browser)
REACT_APP_RENDEZVOUS_HOST=xx.xxx.xxx.xxx
REACT_APP_RENDEZVOUS_PORT=9090
