# Docker compose variables
VIRTUAL_HOST=apella.tk
VIRTUAL_PORT=3000

# If you uncomment the lines below, Apella will become available through https BUT the rendezvous
# server will stop working and IPFS initialization won't complete
#LETSENCRYPT_HOST=apella.tk
#LETSENCRYPT_EMAIL=apotwohd@gmail.com

# Variables needed in build time
# to_never_do: change bellow to localhost
APELLA_HOST=0.0.0.0
APELLA_PORT=3000
GANACHE_HOST=79.103.177.105
GANACHE_PORT=8545

# Variables needed in runtime (in browser)
REACT_APP_RENDEZVOUS_HOST=83.212.109.171
REACT_APP_RENDEZVOUS_PORT=9090
